* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-container {
    background: #f0f0f0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#import-modal {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000022;
    margin: 150px auto;
    padding: 20px;
    width: 400px;
}

#import-modal h1 {
    font-size: 18px;
}

#import-modal p {
    padding: 12px 0;
}