#arts-nav {
    background: rgb(225, 225, 225);
    display: flex;
    padding: 5px 0;
    padding-left: 45px;
    margin: 0;
}

#arts-nav li {
    border-radius: 6px;
    cursor: pointer;
    margin-left: 5px;
    padding: 10px 20px;
    user-select: none;
}

#arts-nav li:hover {
    background: white;
}

.selected-art {
    background: rgb(192, 192, 192);
}

.selected-art:hover {
    background: rgb(192, 192, 192) !important;
}