#resources-subcontainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#resources-header {
    padding: 15px 16px 10px;
}

#resources-header h1 {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

#resources-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 14px;
    overflow: auto;
    margin: 0;
    padding: 2px 16px 16px;
}

#resources-content li {
    display: flex;
    align-items: center;
}

#resources-content li div {
    font-size: 16px;
    line-height: 1.1;
}

.foil-icon {
    border: 2px solid #00000044;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    height: 40px;
    width: 40px;
}

.foil-icon div {
    background: rgb(225, 225, 225);
    outline: 2px solid #00000044;
    border-radius: 100%;
    height: 12px;
    width: 12px;
}

.cliche-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.cliche-icon div {
    border: 2px dashed black;
    background: #ccc;
}