#steps-nav {
    background: rgb(225, 225, 225);
    display: flex;
    padding: 5px 0;
    margin: 0;
}

#steps-nav li {
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
    padding: 10px 20px;
    user-select: none;
}

#steps-nav li:hover {
    background: white;
}

#add-step {
    font-size: 22px;
    line-height: 22px;
    padding: 10px 12px !important;
}

.selected-step {
    background: rgb(192, 192, 192);
}

.selected-step:hover {
    background: rgb(192, 192, 192) !important;
}

#remove-step {
    font-size: 22px;
    line-height: 20px;
    margin-right: 0 !important;
    padding: 10px 12px !important;
    margin-left: auto;
}

#remove-step img {
    width: 11px;
}

.delete-step-disabled {
    opacity: 0.3;
    pointer-events: none;
}