#toolbar-subcontainer {
    background: rgb(225, 225, 225);
    padding: 0 5px;
    height: 100%;
}

.toolbar-option {
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    text-align: center;
    user-select: none;
}

.toolbar-option:hover {
    background: white;
}

.selected {
    background: rgb(192, 192, 192);
}

.selected:hover {
    background: rgb(192, 192, 192) !important;
}