#toolbar-subcontainer {
    background: rgb(225, 225, 225);
    padding: 0 5px;
    height: 100%;
}

#toolbar-subcontainer span {
    position: relative;
}

.toolbar-option {
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 9px 7px;
    text-align: center;
    user-select: none;
}

.toolbar-option img {
    display: block;
}

.toolbar-option:hover {
    background: white;
}

.toolbar-option-disabled {
    pointer-events: none;
}

.toolbar-option-disabled img {
    opacity: 0.3;
}

.selected {
    background: rgb(192, 192, 192);
}

.selected:hover {
    background: rgb(192, 192, 192) !important;
}

.expanded-toolbar-options {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 3px #00000088;
    display: none;
    padding: 4px;
    position: absolute;
    top: -2px;
    left: 50px;
    width: 200px;
    z-index: 999;
}

.expanded-toolbar-options div {
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    user-select: none;
}

.expanded-toolbar-options div:hover {
    background: rgb(231, 231, 231);
}

.expanded-toolbar-options span {
    display: block;
    font-size: 12px;
    padding: 4px 8px;
    user-select: none;
}