.CanvasContainer {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Canvas {
    position: relative;
}

.Canvas * {
    pointer-events: none;
}